.scroll-top {
    position: fixed;
    bottom: 2em;
    right: 4em;
    background-color: #877b77;
  }
  
  @media (max-width: 900px) {
    .scroll-top {
      position: fixed;
      bottom: 1em;
      right: 1em;
    }
  }
  